<?xml version='1.0' encoding='utf-8'?>
<widget id="ml.mitcgames.gato" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MITC Gato</name>
    <description>La app oficial de Las aventuras del MITC Gato!</description>
    <author email="mitc@mitcgames.ml" href="https://mitcgames.ml/mitcgato">
        MITC Games
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
